



#showAll {
margin-left:auto;
margin-right:auto;
text-align:center;
}

nav ul {
	margin-left:auto;
	margin-right:auto;
	background-color:black;
	margin-top:0;
	padding-top:4px;
	padding-bottom:4px;

}
nav ul li {
	list-style-type:none;
	display:inline-block;	
	padding-left:9%;
	padding-right:9%;
	text-align:center;
	color:white;
	font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;

}

nav a {
	color:white;
}

nav a:hover {
	font-weight:bold;
	color:gray;
}


header {
	width:800px;
	margin-left:auto;
	margin-right:auto;
			margin-bottom:0px;

}

header h1 {

	text-align:center;
	font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
	margin-bottom:0px;
	font-weight:normal;

}

header h2 {
float:left;
font-weight:bold;
	font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
margin-bottom:0px;
margin-top:0px;
font-size:20px;
margin-left:5px;
}

header h3 {
float:right;
font-weight:bold;
font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
margin-bottom:0px;
margin-top:0px;
font-size:20px;
margin-right:5px;

}

header p {

		font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
		margin-top:0px;
		margin-bottom:0px;
		text-align:center;
}

header hr {
color:black;
height:2px;
background-color:black;
padding:0px;
margin:5px;
}

section  {

		width:800px;
	margin-left:auto;
	margin-right:auto;
}

section hr {
color:black;
height:2px;
background-color:black;
padding:0px;
margin:5px;
}

section{
margin-top:0px;
margin-bottom:0px;
font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;

}


section p {
	margin-top:0px;
	margin-bottom:0px;
	line-height: 95%;
	margin-left:5px;
}

section p2 {
text-align:right;
	float:right;
		margin-top:0px;
	margin-bottom:0px;
	line-height: 90%;
	margin-right:5px;
font-size:14px;
}


section p3 {
	float:left;
	margin-top:0px;
	margin-bottom:0px;
	line-height: 5%;
	margin-left:5px;
}

section p4 {
	margin-top:0px;
	margin-bottom:0px;
	line-height: 5%;
	margin-right:5px;
	float:right;
}




section h2 {

	float:left;
font-weight:bold;
	font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
margin-bottom:0px;
margin-top:0px;
font-size:20px;
margin-left:5px;

}


section h3 {
text-align:right;
	float:right;
		margin-top:0px;
	margin-bottom:-20px;
	line-height: 50%;
	margin-right:5px;
	font-size:14px;

}


section h4 {


	float:left;
	font-weight:900;

	font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
margin-bottom:0px;
margin-top:0px;
font-size:16px;
margin-left:5px;
line-height:50%;

}


section h5 {
text-align:right;
	float:right;
		margin-top:5px;
		padding-bottom:5px;
	margin-bottom: 0px;
	line-height: 20%;
	margin-right:5px;
	font-size:14px;

}


section h6 {


	float:left;
	font-weight:900;

	font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
margin-bottom:0px;
margin-top:5px;
font-size:16px;
margin-left:5px;
line-height:20%;

}



section ul{
	margin-top:8px;
}
section li {
	line-height:90%;

}


.highlighted {
	background-color:yellow;

}

#showAll {
		font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;

}
